# CLIENT

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# SERVER

# dependencies
server/node_modules/

# testing
server/coverage

# production
server/build

# misc
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local


# OTHERS

npm-debug.log*
yarn-debug.log*
yarn-error.log*
